HOST=0.0.0.0

#Agrega la URI a tu propia base de datos MONGO_DB
MONGO_URI=mongodb://localhost:27017/blog_db_local

# Aca debes completar con el usuario y contraseña del administrador del blog, NO DE LA BASE DE DATOS
ADMIN_EMAIL=admin@miblog.com
ADMIN_PASSWORD=contrasena_segura_123

# Inventa un secreto cualquiera para probar la generación de tokens:
JWT_SECRET=super_secreto_para_desarrollo_local_999

# URL de tu frontend local:
FRONT_END_HOST=http://localhost:5173